/*** Base Styles ***/

body {
	margin: 0 auto;
	max-width: 1200px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1, h3, h4 {
	color: black;
	text-transform: uppercase;
}

/** Grid Styles **/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

/*** Header Styles ***/

header {
	margin: 0 auto;
	width: 96%;
	text-align: center;
}

h1 {
	border-bottom: 3px solid #77a466;
	font-size: 1.875em;
	font-weight: bolder;
	margin: 30px 2% 0;
	padding-bottom: 15px;
}

header span {
	color: #77a466;
}

nav ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

nav ul li {
	padding: 10px 0;
}

nav a {
	color: #77a466;
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover {
	color: black;
}

/*** Top Section Styles ***/

.top-section, .bottom-section {
	margin: 0 auto;
	width: 96%;
}

figure {
	width: 100%;
	margin: 0 auto;
}

figure img {
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
	max-width: 100%;
	height: auto;
}

.top-section h3 {
	color: #77a466;
}

.top-section p {
	line-height: 1.5625em;
}

/*** Bottom Section Styles ***/

/*** Footer Styles ***/

/********** Tablet Styles ************/

/********** Desktop Styles **********/